// note: each element that has PIE enabled on it will add about 10ms to your page load.
@import compass/css3/pie
@import compass/css3
@import ../base/colors
@import _pie.sass


/* IE specific styles ----------------------------------------------------- */

/* fonts ------------------------------------------------------------------ */
/* added here due to need for different letter spacing */

= digital-dream
  font-family: "DigitaldreamFat", "Arial", "Sans-serif"
  font-size: 140px
  color: $txt_yellow
  letter-spacing: 0


= komika-title
  font-family: "KomikaTitle-Paint", "Arial Black", "Arial", "Sans-serif"
  letter-spacing: 2px


/* background ------------------------------------------------------------- */

body



/* typography ------------------------------------------------------------- */

header.section h1
  +komika-title


/* navigation ------------------------------------------------------------- */

.ie8, .ie7, .ie6
  body > nav
    line-height: 18px
    background: #69bacf
    &.scrolling
      background: #29505b

@media screen and (max-width: 650px)
  .ie8, .ie7, .ie6
    body > nav
      display: none


/* intro ------------------------------------------------------------------ */

#intro
  h2
    +komika-title

@media screen and (max-width: 650px)
  .ie8, .ie7, .ie6
    #intro
      padding-bottom: 30px
      h1
        height: 341px
        margin: 0 auto 20px
        background-position: center top
      h2
        position: relative
        margin-bottom: 20px
        font-size: 40px
      h3
        position: relative
        font-size: 19px

/* obstacles -------------------------------------------------------------- */

.ie8, .ie7, .ie6
  #obstacles
    ul
      width: 480px
    li
      +pie

@media screen and (max-width: 1035px)
  .ie8, .ie7, .ie6
    #obstacles
      ul
        width: 100%
      li
        position: relative
        float: left
        margin: 0 20px 20px 0
        +border-radius(8px)
        a
          display: block
          width: 220px
          height: 220px
          padding-top: 88%
          text-align: center
          font-size: 14px
          line-height: 1.3em
          letter-spacing: 1px
          color: rgba(255, 255, 255, 1)
        &:nth-child(even),
        &.sundae-slide,
        &.down-the-hatch,
        &.the-wringer
          margin-right: 0

        &.the-tank a
          background: image_url("obstacles/sprite.png") 0 -12px no-repeat
        &.sundae-slide a
          background: image_url("obstacles/sprite.png") -220px -12px no-repeat
        &.human-hamster-wheel a
          background: image_url("obstacles/sprite.png") -440px -12px no-repeat
        &.down-the-hatch a
          background: image_url("obstacles/sprite.png") -660px -12px no-repeat
        &.pick-it a
          background: image_url("obstacles/sprite.png") -880px -12px no-repeat
        &.the-wringer a
          background: image_url("obstacles/sprite.png") -1100px -12px no-repeat
        &:hover, &.selected
          a
            color: rgba(255, 88, 34, 1)
            background-position-y: -233px !important

    #obstacle
      display: none



/* prizes ----------------------------------------------------------------- */


/* register --------------------------------------------------------------- */

#register
  form
    input
      display: block
  aside
    #timer
      padding-top: 93px
      +digital-dream


/* register - media queries */

@media screen and (max-width: 900px)
  #register
    aside
      #timer
        padding-top: 70px
        font-size: 100px


@media screen and (max-width: 805px)
  #register
    aside
      #timer
        padding-top: 45px
        font-size: 70px


@media screen and (max-width: 685px)
  #register
    aside
      display: none


@media screen and (max-width: 930px)
  .ie8, .ie7, .ie6
    #register
      aside
        display: none
