// note: each element that has PIE enabled on it will add about 10ms to your page load.
@import compass/css3/pie
@import compass/css3
@import ../base/colors
@import _pie.sass


/* IE specific styles ----------------------------------------------------- */

/* fonts ------------------------------------------------------------------ */
/* added here due to need for different letter spacing */

= digital-dream
  font-family: "DigitaldreamFat", "Arial", "Sans-serif"
  font-size: 140px
  color: $txt_yellow
  letter-spacing: 0


= komika-title
  font-family: "KomikaTitle-Paint", "Arial Black", "Arial", "Sans-serif"
  letter-spacing: 2px


/* background ------------------------------------------------------------- */

body



/* typography ------------------------------------------------------------- */

header.section h1
  +komika-title


/* navigation ------------------------------------------------------------- */

.ie8, .ie7, .ie6
  body > nav
    line-height: 18px
    background: #69bacf
    &.scrolling
      background: #29505b


/* intro ------------------------------------------------------------------ */

#intro
  h2
    +komika-title


/* obstacles -------------------------------------------------------------- */

.ie8, .ie7, .ie6
  #obstacles
    ul
      width: 480px
    li
      +pie
    
/* prizes ----------------------------------------------------------------- */


/* register --------------------------------------------------------------- */

#register
  form
    input
      display: block
  aside
    #timer
      padding-top: 93px
      +digital-dream


/* register - media queries */

@media screen and (max-width: 900px)
  #register
    aside
      #timer
        padding-top: 70px
        font-size: 100px


@media screen and (max-width: 805px)
  #register
    aside
      #timer
        padding-top: 45px
        font-size: 70px


@media screen and (max-width: 685px)
  #register
    aside
      display: none