html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  background: #6ec2d8 url('/images/slime/bg_overlay.png?1319259254') 83% -200px no-repeat;
}

body {
  color: white;
  font-family: "Komika Title - Paint";
  letter-spacing: 0.15em;
}

a {
  color: white;
  text-decoration: none;
}

header.section h1 {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  height: 40px;
  font-size: 39px;
  line-height: 30px;
  text-shadow: rgba(0, 0, 0, 0.15) 3px 4px 0;
}
header.section h1 {
  *display: inline;
}

body > nav {
  position: fixed;
  width: 100%;
  height: 32px;
  text-align: center;
  line-height: 24px;
  background: rgba(15, 40, 48, 0.05);
  z-index: 10;
  -moz-transition-property: background;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
body > nav li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin-right: 50px;
}
body > nav li {
  *display: inline;
}
body > nav li:last-child {
  margin-right: 0;
}
body > nav a {
  font-family: "Open Sans";
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 1px;
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
body > nav a:hover {
  color: #f3f200;
}

body > nav.scrolling {
  background: rgba(15, 40, 48, 0.75);
}

#footer {
  font-family: "Open Sans";
  background: url('/images/textures/gray.png?1319262776');
  letter-spacing: 1px;
}
#footer .container {
  border-top: 7px solid rgba(0, 0, 0, 0.075);
}
#footer .container h1, #footer .container h2 {
  text-align: center;
  font-size: 19px;
  margin-bottom: 10px;
}
#footer .container h1 {
  margin-top: -45px;
  padding-top: 105px;
  background: url('/images/logos/knucklelodeon.png?1319259254') top center no-repeat;
}
#footer .container > div {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 33px;
}
#footer .container > div p, #footer .container > div address {
  float: right;
  width: 460px;
  margin-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 0;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
}
#footer .container > div p:first-child, #footer .container > div address:first-child {
  float: left;
  text-align: right;
}
#footer .license {
  border-top: 7px solid rgba(0, 0, 0, 0.075);
  padding-top: 25px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
  margin-bottom: 0 !important;
}
#footer .license img {
  display: block;
  margin: 25px auto;
}

#intro {
  padding: 69px 0 85px;
  background: url('/images/textures/gray.png?1319262776');
  background-position: -60px 0;
}
#intro h1 {
  position: relative;
  left: -34px;
  width: 490px;
  height: 430px;
  margin: 0 auto 39px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/logos/triple-dare.png?1319259254');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#intro h2, #intro h3 {
  text-align: center;
}
#intro h2 {
  color: #ff5822;
  text-align: center;
  font-size: 51px;
  text-shadow: white 2px 3px 0;
  margin-bottom: 19px;
}
#intro h3 {
  font-family: "Open Sans";
  font-size: 21px;
  letter-spacing: 1px;
}

#obstacles {
  background: #ff5924 url('/images/textures/gray.png?1319262776');
  border-top: 7px solid rgba(0, 0, 0, 0.1);
  border-bottom: 7px solid rgba(0, 0, 0, 0.1);
}
#obstacles .container {
  overflow: hidden;
  *zoom: 1;
  padding: 50px 0 60px;
}
#obstacles header.section h1 {
  width: 280px;
  background: #ff5924 url('/images/textures/gray.png?1319262776');
}
#obstacles ul {
  width: 460px;
  float: left;
}
#obstacles li {
  position: relative;
  float: left;
  width: 220px;
  height: 220px;
  margin: 0 20px 20px 0;
  background: #6db933 url('/images/textures/gray.png?1319262776');
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-transition-property: background;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#obstacles li a {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  height: 220px;
  padding-top: 195px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#obstacles li:nth-child(even) {
  margin-right: 0;
}
#obstacles li.the-tank a {
  background: url('/images/obstacles/sprite.png?1319259254') 0 -12px no-repeat;
}
#obstacles li.sundae-slide a {
  background: url('/images/obstacles/sprite.png?1319259254') -220px -12px no-repeat;
}
#obstacles li.human-hamster-wheel a {
  background: url('/images/obstacles/sprite.png?1319259254') -440px -12px no-repeat;
}
#obstacles li.down-the-hatch a {
  background: url('/images/obstacles/sprite.png?1319259254') -660px -12px no-repeat;
}
#obstacles li.pick-it a {
  background: url('/images/obstacles/sprite.png?1319259254') -880px -12px no-repeat;
}
#obstacles li.the-wringer a {
  background: url('/images/obstacles/sprite.png?1319259254') -1100px -12px no-repeat;
}
#obstacles li:hover, #obstacles li.selected {
  background: #e9f82e url('/images/textures/gray.png?1319262776');
}
#obstacles li:hover a, #obstacles li.selected a {
  color: #ff5822;
  background-position-y: -233px !important;
}

#obstacle {
  position: relative;
  float: right;
  width: 460px;
  height: 700px;
}
#obstacle header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 220px;
  margin-bottom: 20px;
  padding-top: 55px;
  text-align: center;
  background: url('/images/slime/medium.png?1319259254') center 0 no-repeat;
}
#obstacle h1, #obstacle h2 {
  -moz-transform: rotate(-7.5deg);
  -webkit-transform: rotate(-7.5deg);
  -o-transform: rotate(-7.5deg);
  -ms-transform: rotate(-7.5deg);
  transform: rotate(-7.5deg);
}
#obstacle h1 {
  font-size: 39px;
  line-height: 48px;
  margin-bottom: 16px;
  text-shadow: rgba(0, 0, 0, 0.15) 3px 4px 0;
}
#obstacle h2 {
  font-size: 21px;
  text-shadow: rgba(0, 0, 0, 0.15) 3px 4px 0;
}
#obstacle img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 420px;
  max-height: 465px;
  margin: 0 auto;
}
#obstacle.sundae-slide img {
  right: 60px;
}
#obstacle.down-the-hatch img {
  right: 30px;
}

#prizes {
  background: #6db933 url('/images/textures/gray.png?1319262776');
  border-top: 7px solid rgba(0, 0, 0, 0.1);
  border-bottom: 7px solid rgba(0, 0, 0, 0.1);
}
#prizes .container {
  padding: 50px 0 80px;
}
#prizes header.section {
  margin-bottom: 65px;
  background-position: 0 -20px;
}
#prizes header.section h1 {
  width: 180px;
  background: #6db933 url('/images/textures/gray.png?1319262776');
}
#prizes img {
  margin: 0 auto 20px;
}
#prizes ul {
  overflow: hidden;
  *zoom: 1;
}
#prizes li {
  width: 400px;
  float: left;
  margin: 0 20px 100px 20px;
  text-align: center;
  letter-spacing: 0;
}
#prizes li:nth-child(odd) {
  clear: left;
}
#prizes li:nth-child(even) {
  float: right;
  margin-left: 0;
}
#prizes li:nth-child(2) img {
  margin-bottom: 15px;
}
#prizes li:nth-child(n+2) {
  margin-bottom: 22px;
}
#prizes li:last-child {
  margin-top: -195px;
}

#register {
  background: url('/images/textures/gray.png?1319262776');
  border-top: 7px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 130px;
}
#register .container {
  overflow: hidden;
  *zoom: 1;
  padding: 50px 0 60px;
}
#register header.section h1 {
  width: 420px;
  background: #6ec2d8 url('/images/textures/gray.png?1319262776');
}
#register form {
  position: relative;
  float: left;
  left: 4px;
  width: 380px;
  margin-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 20px;
  font-size: 15px;
  letter-spacing: 1px;
}
#register form label {
  display: block;
  position: relative;
  left: 15px;
  top: 50px;
  margin-top: -32px;
  float: left;
}
#register form label.focus {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
#register form label.unnecessary {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
#register form input {
  width: 352px;
  height: 50px;
  margin-bottom: 15px;
  padding: 0 14px;
  color: white;
  font-family: "Komika Title - Paint";
  letter-spacing: 0.15em;
  font-size: 15px;
  letter-spacing: 1px;
  background: #ff5924 url('/images/textures/gray.png?1319262776');
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border: 0;
  outline: 0;
}
#register form input:focus {
  -moz-box-shadow: inset 0 0 6px 0 #0f2830;
  -webkit-box-shadow: inset 0 0 6px 0 #0f2830;
  -o-box-shadow: inset 0 0 6px 0 #0f2830;
  box-shadow: inset 0 0 6px 0 #0f2830;
}
#register form fieldset {
  position: relative;
  height: 50px;
  margin-bottom: 15px;
}
#register form select, #register form ol {
  float: left;
}
#register form select {
  margin-top: 15px;
}
#register form ol {
  position: absolute;
  background: #ff5924 url('/images/textures/gray.png?1319262776');
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  z-index: 2;
}
#register form ol li {
  display: none;
  height: 50px;
  cursor: pointer;
}
#register form ol li.selected {
  display: block;
  background: url('/images/register/select-arrow.png?1319328355') right bottom no-repeat;
}
#register form ol a {
  padding-left: 15px;
  line-height: 50px;
}
#register form ol.expanded {
  -moz-box-shadow: 0 0 6px 0 #0f2830;
  -webkit-box-shadow: 0 0 6px 0 #0f2830;
  -o-box-shadow: 0 0 6px 0 #0f2830;
  box-shadow: 0 0 6px 0 #0f2830;
}
#register form ol.expanded li {
  display: block;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
#register form ol.expanded li.selected {
  background: #6db933 url('/images/textures/gray.png?1319262776');
}
#register form ol.expanded li:first-child, #register form ol.expanded li:hover:first-child {
  border-top: 0;
  background: url('/images/register/select-arrow.png?1319328355') right top no-repeat;
}
#register form ol.expanded li:last-child {
  border-bottom: 0;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -o-border-bottom-left-radius: 6px;
  -ms-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
#register form ol.expanded li:hover {
  background: #6db933 url('/images/textures/gray.png?1319262776');
}
#register form #color, #register form .color {
  left: 0;
  width: 220px;
  margin-right: 15px;
}
#register form #gender, #register form .gender {
  right: 0;
  width: 145px;
}
#register aside {
  width: 460px;
  margin-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 0;
  float: right;
  padding-top: 10px;
  text-align: center;
}
#register aside #timer {
  width: 386px;
  height: 329px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto 52px;
  padding: 89px 0 0 5px;
  font-family: "Digital dream Fat";
  font-size: 140px;
  color: #f3f200;
  text-shadow: black 7px 11px 0;
  background: url('/images/register/timer.png?1319259254');
}
#register aside span {
  display: block;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  font-size: 39px;
  line-height: 50px;
  text-shadow: rgba(0, 0, 0, 0.15) 3px 4px 0;
}
#register aside span span {
  padding-top: 7px;
  color: #bce1ec;
  font-size: 34px;
}
#register aside span span.small {
  font-size: 30px;
}
#register form > button {
  width: 100%;
  height: 155px;
  margin-top: 20px;
  background: url('/images/slime/small.png?1319338623') center center no-repeat;
  border: 0;
  cursor: pointer;
}
#register form > button span {
  display: block;
  color: white;
  font-family: "Komika Title - Paint";
  letter-spacing: 0.15em;
  font-size: 25px;
  letter-spacing: 1px;
  text-shadow: rgba(0, 0, 0, 0.15) 3px 4px 0;
  -moz-transform: rotate(-7.5deg);
  -webkit-transform: rotate(-7.5deg);
  -o-transform: rotate(-7.5deg);
  -ms-transform: rotate(-7.5deg);
  transform: rotate(-7.5deg);
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
#register form > button:hover span {
  font-size: 30px;
}

section > .container {
  width: 940px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}
section > .container > header.section {
  margin-bottom: 55px;
  background: url('/images/patterns/checkers.png?1319259254');
}
