// digital dream (fat)

$font_path: "../fonts/digital-dream-fat/"

@font-face
  font-family: "DigitaldreamFat"
  src: url($font_path + "digitaldreamfat.eot")
  src: url($font_path + "digitaldreamfat.eot?#iefix") format("embedded-opentype"), url($font_path + "digitaldreamfat.woff") format("woff"), url($font_path + "digitaldreamfat.ttf") format("truetype"), url($font_path + "digitaldreamfat.svg#digitaldreamfat") format("svg")
  font-weight: normal
  font-style: normal

= digital-dream
  font-family: "DigitaldreamFat", "Arial", "Sans-serif"
  font-size: 140px
  color: $txt_yellow
  +single-text-shadow(rgba(0, 0, 0, 1), 7px, 11px, 0)


// komika title (regular)

$font_path: "../fonts/komika-title-paint/"

@font-face
  font-family: "KomikaTitle-Paint"
  src: url($font_path + "komikatitle-paint.eot")
  src: url($font_path + "komikatitle-paint.eot?#iefix") format("embedded-opentype"), url($font_path + "komikatitle-paint.woff") format("woff"), url($font_path + "komikatitle-paint.ttf") format("truetype"), url($font_path + "komikatitle-paint.svg#komikatitle-paint") format("svg")
  font-weight: normal
  font-style: normal

= komika-title
  font-family: "KomikaTitle-Paint", "Arial Black", "Arial", "Sans-serif"
  letter-spacing: .15em


// open sans (regular)

$font_path: "../fonts/open-sans-regular/"

@font-face
  font-family: "OpenSans"
  src: url($font_path + "opensans-regular.eot")
  src: url($font_path + "opensans-regular.eot?#iefix") format("embedded-opentype"), url($font_path + "opensans-regular.woff") format("woff"), url($font_path + "opensans-regular.ttf") format("truetype"), url($font_path + "opensans-regular.svg#opensans-regular") format("svg")
  font-weight: normal
  font-style: normal

= open-sans
  // font-family: "OpenSans-Semibold", "Arial", "Sans-serif"
  font-family: "OpenSans", "Arial", "Sans-serif"
