section .container
  max-width: 940px
  margin: 0 auto
  > header.section
    margin-bottom: 55px
    background: image_url("patterns/checkers.png")

/* media queries ---------------------------------------------------------- */

// tablet --------------------------------------------------------------------


// phone (portrait) ----------------------------------------------------------
@media screen and (max-width: 768px)
  section .container

    > header.section
      margin-bottom: 20px
      padding-left: 10px
      background: transparent


// sections ------------------------------------------------------------------

@import intro
@import obstacles
@import prizes
@import register
@import footer



