/* intro ------------------------------------------------------------------ */

#intro
  padding: 69px 0 85px
  +texture-blue(false)
  background-position: -60px 0
  h1
    position: relative
    left: -34px
    width: 490px
    height: 430px
    margin: 0 auto 32px
    +replace-text("logos/triple-dare.png")
  h2, h3
    text-align: center
  h2
    color: $txt_orange
    text-align: center
    font-size: 51px
    line-height: 64px
    +single-text-shadow(#fff, 2px, 3px, 0)
    margin-bottom: 13px
  h3
    +open-sans
    font-size: 21px
    letter-spacing: 1px