#obstacles
  +texture-orange
  border-top: 7px solid rgba(0, 0, 0, .1)
  border-bottom: 7px solid rgba(0, 0, 0, .1)

  .container
    +clearfix  
    padding: 50px 0 60px

  header.section h1
    width: 280px
    +texture-orange

  ul
    width: 460px
    float: left

  li
    position: relative
    float: left
    width: 220px
    height: 220px
    margin: 0 20px 20px 0
    +texture-green
    +border-radius(8px)
    +single-transition(background, .4s)
    a
      display: block
      +box-sizing(border-box)
      width: 220px
      height: 220px
      padding-top: 195px
      text-align: center
      font-size: 14px
      letter-spacing: 1px
      color: rgba(255, 255, 255, 1)
      +single-transition(color, .4s)
    &:nth-child(even)
      margin-right: 0
    &.the-tank a
      background: image_url("obstacles/sprite.png") 0 -12px no-repeat
    &.sundae-slide a
      background: image_url("obstacles/sprite.png") -220px -12px no-repeat
    &.human-hamster-wheel a
      background: image_url("obstacles/sprite.png") -440px -12px no-repeat
    &.down-the-hatch a
      background: image_url("obstacles/sprite.png") -660px -12px no-repeat
    &.pick-it a
      background: image_url("obstacles/sprite.png") -880px -12px no-repeat
    &.the-wringer a
      background: image_url("obstacles/sprite.png") -1100px -12px no-repeat
    &:hover, &.selected
      +texture-yellow
      a
        color: rgba(255, 88, 34, 1)
        background-position-y: -233px !important

#obstacle
  position: relative
  float: right
  width: 460px
  height: 700px
  header
    +box-sizing(border-box)
    height: 220px
    margin-bottom: 20px
    padding-top: 55px
    text-align: center
    background: image_url("slime/medium.png") center 0 no-repeat
  h1, h2
    +rotate(-7.5deg)
  h1
    font-size: 39px
    line-height: 48px
    margin-bottom: 16px
    +single-text-shadow(rgba(0, 0, 0, .15), 3px, 4px, 0)
  h2
    font-size: 21px
    +single-text-shadow(rgba(0, 0, 0, .15), 3px, 4px, 0)
  img
    position: absolute
    right: 0
    bottom: 0
    max-width: 420px
    max-height: 465px
    margin: 0 auto
  &.sundae-slide img
    right: 60px
  &.down-the-hatch img
    right: 30px      