/* prizes ----------------------------------------------------------------- */

#prizes
  +texture-green
  border-top: 7px solid rgba(0, 0, 0, .1)
  border-bottom: 7px solid rgba(0, 0, 0, .1)
  
  .container
    padding: 50px 0 80px

  header.section
    margin-bottom: 45px
    background-position: 0 -20px
    h1
      width: 180px
      +texture-green

  img
    margin: 0 auto 20px

  ul
    +clearfix
  li
    position: relative
    width: 400px
    float: left
    margin: 0 20px 100px 20px
    padding-top: 20px
    text-align: center
    letter-spacing: 0
    /* items on left */
    &.space-camp, &.keyboard
      clear: left
    /* items on right */
    &.skateboard, &.tv-vcr
      float: right
      margin-left: 0
    /* items on bottom */
    &.keyboard, &.tv-vcr
      margin-bottom: 22px
    /* special positioning */
    &.skateboard img
      margin-bottom: 15px
    &.tv-vcr
      margin-top: -195px

    /* animations */
    &.space-camp img:hover
      +animation-swing
    &.skateboard img:hover    
      +animation-tada
    &.keyboard img:hover
      +animation-pulse
    &.tv-vcr img:hover
      +animation-bobble
